<launch>

  <!-- start service server -->
  <node
    pkg="seam_detection"
    name="add_two_ints_server"
    type="add_two_ints_server"
    output="screen" >
  </node>

  <!-- start service client -->
  <node
    pkg="seam_detection"
    type="add_two_ints_client"
    name="add_two_ints_client"
    output="screen" 
    args="10 20" >
  </node>

</launch>