<launch>
  
  <!-- start RVIZ --> 
  <node 
    name="rviz20"
    pkg="rviz"
    type="rviz"
    args="-d $(find seam_detection)/rviz/aubo_i10_lidar.rviz">
  </node>

  <!-- load aubo i10 model from URDF with xacro -->
  <param name="robot_description" command="xacro $(find aubo_description)/urdf/aubo_i10_robot.xacro" />

</launch>

