<launch>
  <!-- This is a launch file for CAD_CLOUD node from package SEAM_DETECTION -->
  <env name="LIBGL_ALWAYS_SOFTWARE" value="1"/>

  <!-- read value of arg -->
  <param name="param" value="$(arg if)"/> 
  <param name="param" value="$(arg of)"/>
  <param name="param" value="$(arg n_samples)"/> 
  <param name="param" value="$(arg leaf_size)"/>  

  <!-- convert PLY files to PCD files -->
  <node
    pkg="seam_detection"
    name="cad_cloud"
    type="cad_cloud"
    output="screen"
    args="-n_samples $(arg n_samples) -leaf_size $(arg leaf_size) -write_normals 1 $(arg if) $(arg of)"    
  />

</launch>
