<launch>

  <env name="LIBGL_ALWAYS_SOFTWARE" value="1"/>

  <arg name="config" default="cloudutils" />

  <!-- read value of arg -->
  <param name="param" value="$(arg config)"/> 
  
  <rosparam file="$(find seam_detection)/config/$(arg config).yaml" />

  <node                     
    pkg="seam_detection"          
    name="cloudutils_test"   
    type="cloudutils_test"
    output="screen"  
   />
   
</launch>
