<launch>

  <

  <!-- read value of arg -->
  <param name="param" value="$(arg in_file)"/>
  <param name="param" value="$(arg out_file)"/>
  <param name="param" value="$(arg thresh1)"/>
  <param name="param" value="$(arg thresh2)"/> 
  
  <node                     
    pkg="seam_detection"          
    name="setup_tf"   
    type="setup_tf"
    output="screen"    
  />                        
  
  <node                     
    pkg="pcl_ros"          
    name="pcd_to_pointcloud"   
    type="pcd_to_pointcloud"
    output="screen"
    args="$(find seam_detection)/images/$(arg in_file)">   
  </node>

  !-- I don't think we need this if there is a graphics card--> 
  <env name="LIBGL_ALWAYS_SOFTWARE" value="1"/>
  <node name="rviz" 
        pkg="rviz" 
        type="rviz" 
        args="-d $(find seam_detection)/rviz/seam_detection_RANSAC.rviz">
  </node>

  <node                     
    pkg="seam_detection"          
    name="seam_detection_RANSAC"   
    type="seam_detection_RANSAC"
    output="screen"
    args="-f $(arg in_file) $(arg out_file) $(arg thresh1) $(arg thresh2)"     
  />

</launch>
