<launch>

  <!-- -->

  <env name="LIBGL_ALWAYS_SOFTWARE" value="1"/>

  <!-- read value of arg -->
  <param name="param" value="$(arg in_file)"/>
  <param name="param" value="$(arg thresh)"/>

  <node
    pkg="seam_detection"
    name="setup_tf"
    type="setup_tf"
    output="screen"
  />

  <node
    pkg="pcl_ros"
    name="pcd_to_pointcloud"
    type="pcd_to_pointcloud"
    output="screen"
    args="$(find seam_detection)/images/$(arg in_file)">
  </node>

  <node name="rviz"
        pkg="rviz"
        type="rviz"
        args="-d $(find seam_detection)/rviz/segment_cloud.rviz">
  </node>

  <node
    pkg="seam_detection"
    name="segment_plane_line"
    type="segment_plane_line"
    output="screen"
    args="-f $(find seam_detection)/images/$(arg in_file) $(arg thresh)"
  />

</launch>
